<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>movie</title>

  </head>
  <body>
    <h1>Writer's all Season</h1>
    {% for a in res %}

         <li><a href="@@{{a.EpisodeNo }}">{{a.EpisodeNo}}</a></li></br>
    {% endfor %}
  </body>
  </html>
