<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>movie</title>

  </head>
  <body>
    <h1>Welcome to home page!!!!</h1>
    <h2>Here its the list of  all Writers </h2>
    {% for a in stuff %}
         <li><a href="{{a.Season }}">{{a.Season}}</a></li></br>
    {% endfor %}

  </body>
  </html>
