<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>movie</title>

  </head>
  <body>
    <h1>All about Season</h1>

    {% for a in ans %}
         <li><b>Title:  </b>{{a.EpisodeNo }}</li></br>
         <li><b>Complete Script:  <b>{{a.Character }}{{a.Dialogue}}</li></br>
         <li><b>AirDate: </b>{{a.SEID }}</li></br>
         <li><b>Director:  </b>{{a.Season}}</li></br>

    {% endfor %}
  </body>
  </html>
